.mygarage-header {
  font-family: "Helvetica neue", Helvetica, Arial, Sans-serif;
  display: flex;
  align-items: baseline;

  h1 {
    font-size: 32px;
    color: #666;
    padding-right: 15px;
  }

  .fa-star {
    color: gold;
  }

  .feedback {
    padding-left: 5px;
  }
}


.mygarage-section {
  font-family: "Helvetica neue", Helvetica, Arial, Sans-serif;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;

  .section-header {
    font-size: 22px;
    font-weight: 700;
    color: #666;
    background-color: rgb(246, 233, 156);
    padding: 12px;
    border: 2px solid yellow;
    border-radius: 3px;
  }

  .section-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 5px 10px;
    background-color: white;

    .last-31 {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .section-item {
      font-size: 14px;
      margin-bottom: 5px;
    }

    a {
      color: blue;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}