.navbar {
    list-style-type: none;
    font-size: 12px;
    font-family: "Helvetica neue", Helvetica, Arial, Sans-serif;
    color: #333;
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    padding: 0 10px 0 10px;
    box-shadow: 2px 2px 3px #ccc;

    ul {
        display: flex;
        align-items: center;

        a {
            padding: 0 5px 0 5px;
            text-decoration: none;
            color: #0654ba;
        }

        a:hover {
            text-decoration: underline;
        }

        i {
            padding: 0 20px 0 20px;
            font-size: 16px;
        }

        .fa-bell {
            padding-left: 30px;
        }

        .greeting {
            padding-right: 5px;
    
            .greeting-firstname {
                font-weight: 700;
            }

            a {
                padding: 0px;
            }
        }
    }
}