.navbar {
    list-style-type: none;
    font-size: 12px;
    font-family: "Helvetica neue", Helvetica, Arial, Sans-serif;
    color: #333;
    display: flex;
    height: 30px;
    border-bottom: 1px solid #CCC;

    .greeting {
        padding: 10px 5px 5px 10px;

        .greeting-firstname {
            font-weight: 700;
        }

        a {
            text-decoration: none;
            color: #0654ba;
        }

        a:hover {
            text-decoration: underline;
        }


    }
 
}