.product-show-page {
    background-color: rgb(245, 245, 245);
    font-family: "Helvetica neue", Helvetica, Verdana, Sans-serif;
    display: flex;
    margin: 90px 5px 10px 5px;

    .show-page-content {
        width: 930;
        
        .product-show-title {
            display: block;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
        
        .product-show-subtitle {
            padding-bottom: 26px;
            border-bottom: 1px solid #CCC;
        }

        .product-condition {
            display: flex;
            font-size: small;
            padding-top: 10px;

            p {
                padding-right: 13px;
                font-weight: normal;
                color: #666;
                width: 128px;
                text-align: right;
            }

            span {
                font-weight: bold;
            }
        }

        .condition-description {
            display: flex;
            padding-left: 22%;
            width: 475px;
            font-style: italic;
            color: #333;
            font-weight: normal;
            font-size: 100%;

            p {
                font-family: arial;
                color: #333;
                font-style: normal;
                font-size: 18px;
                font-weight: bold;
            }

            span {
                padding-top: 5px;
            }
        }

        .product-bid-container {
            width: 550px;
            background-color: #e2e2e2;
            padding-top: 10px;
            margin-top: 20px;
            border: 1px solid #ddd;
            border-radius: 3px;

            .auction-bid-container {
                display: flex;
                flex-direction: column;

                .current-bid {
                    display: flex;
                }

                input {
                    margin-left: 123px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 107px;
                    height: 22px;
                }
            }

            .auction-field {
                border-bottom: 1px solid white;
                margin-bottom: 10px;
            }

            .product-price {
                display: flex;

                .price-button {
                    color: white;
                    width: 128px;
                    font-size: 16px;
                    font-weight: 700;
                    background: linear-gradient(#0079bc, #00509d);
                    border: 1px solid transparent;
                    cursor: pointer;
                    zoom: 1;
                    border-radius: 3px;
                    padding: 5px 0 5px 0
                }

                .auction-buttons {
                    display: flex;
                    flex-direction: column;
                    div {
                        height: 10px;
                    }
                    .watch-list-button {
                        border: solid 1px #999;
                        cursor: pointer;
                        height: 18px;
                        width: 96px;
                        color: #666;
                        font-size: 10px;
                        text-align: center;
                        box-sizing: border-box;
                        line-height: 1.2em;
                        white-space: nowrap;
                        background: linear-gradient(white, #e2e2e2);
                    }
                }
    
                p {
                    padding-right: 13px;
                    padding-top: 4px;
                    width: 112px;
                    text-align: right;
                    font-size: small;
                    color: #666;
                    font-weight: normal;
                }
    
                span {
                    color: #000;
                    font-weight: 700;
                    width: 157px;
                    text-align: left;
                }
            }
        }
    }
}