.product-images-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-right: 18px;

    .main-image {
        height: 500px;
        width: 500px;
        border: 1px solid #CCC;
        background-color: white;
    }
    .child-images-list {
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        .child-image {
            height: 74px;
            width: 74px;
            border: 1px solid #CCC;
            background-color: white;
            border-radius: 3px;
        }
        .child-image:hover {
            border: 1px solid #777;
        }
        .selected {
            border: 2px solid #777;
        }
    }
    .product-sell-button {
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding-top: 15px;
        border-top: 1px dotted #CCC;
        margin: 10px;
        font-family: "Helvetica neue", Helvetica, Verdana, Sans-serif;
        i {
            color: lightgreen;
            padding-right: 5px;
        }
        p {
            padding-right: 5px;
        }
        button {
            width: 92px;
            height: 32px;
            font-weight: 700;
            background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f8f8f8));
            border: 1px solid #ddd;
            color: #0654ba;
            font-size: 14px;
            padding: 7px 17px 7px 17px;
            vertical-align: baseline;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            white-space: nowrap;
        }
    }
}